* {
    font-family: helvetica, sans-serif;
    text-align: center;
    margin: 0;
    font-size: 1rem;
    padding-bottom: 4px;
}

html, body {
    background-color: #eef7ff;
    min-height: 99vh;
}

.topBanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: #1777b8;
    color: white;
    position: relative;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1777b8;
    padding: 10px;
    color: white;
    text-align: left;;
}

#bannerTitle {
    font-size: 1.5rem;
    background-color: #1777b8;
}

#quizTheme {
    font-weight: bold;
    font-size: 1.2rem;
    color: #0a6aaa;
}

#question {
    margin-left: 2%;
    margin-right: 2%;
}

.quizOptions {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    padding: 2rem;
    margin-left: 12%;
    margin-right: 12%;
}

.rightAnswer .answer-btn{
    background-color: green;
}

.wrongAnswer .answer-btn {
    background-color: red;
}

/*=================================== Buttons ===================================*/

#resetButton,
#darkModeButton,
#howToButton,
#backButton,
#nextButton {
    background-color: #1777b8;
    border: none;
    color: white;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 14px;
    width: 15%;
    min-width: 100px;
}

.QuizOptionBtn {
    background-color: #1777b8;
    border: none;
    color: white;
    padding: 24px 24px;
    border-radius: 5px;
    min-width: 10%;
}

.answer-btn {
    background-color: #1777b8;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    width: 40%;
    margin-bottom: 5px;
    min-width: 150px;
}

/*================================= Hover effects for buttons =================================*/

.answer-btn:hover,
#resetButton:hover,
#darkModeButton:hover,
#nextButton:hover,
#howToButton:hover,
.QuizOptionBtn:hover,
#backButton:hover {
    background-color: #175985;
}

/*============================== Transition effects for smooth color changes ==============================*/

body,
.topBanner,
footer,
#bannerTitle,
#resetButton,
#darkModeButton,
#nextButton,
#howToButton,
.answer-btn,
.QuizOptionBtn,
#backButton {
    transition: background-color 0.6s, color 0.6s;
}

/*=================================== Dark Mode styling ===================================*/

.darkMode body {
    background-color: #181c24;
    color: #f5f5f5;
}

.darkMode .topBanner,
.darkMode footer,
.darkMode #bannerTitle,
.darkMode #resetButton,
.darkMode #darkModeButton,
.darkMode #nextButton,
.darkMode #howToButton,
.darkMode .answer-btn,
.darkMode .QuizOptionBtn,
.darkMode #backButton{
    background-color: #222a36;
    color: #fff;
}

.darkMode #opentdblink{
    color: rgb(64, 187, 64);
}

.darkMode #darkModeButton:hover,
.darkMode #resetButton:hover,
.darkMode #nextButton:hover,
.darkMode #howToButton:hover,
.darkMode .answer-btn:hover,
.darkMode .QuizOptionBtn:hover,
.darkMode #backButton:hover {
    background-color: #1c222c;
}

.darkMode #quizTheme {
    color: #5ecfff;
}

/*================================= Below are media queries for responsive design =================================*/

@media (max-width: 900px) {
    .feedbackLbl {
        display: none !important;
    }
}