* {
    font-family: helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding-bottom: 4px;
}

html, body {
    background-color: #eef7ff;
    min-height: 100vh;
    overflow: hidden;
}

.topBanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: #1777b8;
    color: white;
    position: relative;
}

#resetButton,
#darkModeButton {
    background-color: #1777b8;
    border: none;
    color: white;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 14px;
    width: 15%;
    min-width: 100px;
}

#bannerTitle {
    font-size: 2rem;
    background-color: #1777b8;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    background-color: #1777b8;
    padding: 10px;
    color: white;
    text-align: left;;
}

#nextButton {
    background-color: #1777b8;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 16px;
    width: 15%;
    min-width: 125px;
}

.answer-btn {
    background-color: #1777b8;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 16px;
    width: 40%;
    margin-bottom: 5px;
    min-width: 150px;
}

.answer-btn:hover,
#resetButton:hover,
#darkModeButton:hover,
#nextButton:hover {
    background-color: #175985;
}

#quizTheme {
    font-weight: bold;
    font-size: 20px;
    color: #0a6aaa;
}

#question {
    margin-left: 2%;
    margin-right: 2%;
}

body.darkMode {
    background-color: #181c24;
    color: #f5f5f5;
}

body.darkMode .topBanner,
body.darkMode footer,
body.darkMode #bannerTitle,
body.darkMode #resetButton,
body.darkMode #darkModeButton,
body.darkMode #nextButton,
body.darkMode .answer-btn {
    background-color: #222a36;
    color: #fff;
}

body.darkMode #darkModeButton:hover,
body.darkMode #resetButton:hover,
body.darkMode #nextButton:hover,
body.darkMode .answer-btn:hover {
    background-color: #1c222c;
}

body.darkMode #quizTheme {
    color: #5ecfff;
}